<header>
  <nav class="header">
    <div class="container1">
      <a class="aTag1" href="/">CSV</a>
      <div class="container2">
        <ul>
          <li>
            <a class="aTag2" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>